$theme-colors: (
    "primary": #610F22,
    "secondary": #E77212,
    "light": #EBE1CD,

);

@import "node_modules/bootstrap/scss/bootstrap";




body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
}
.footer {
    
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .container {
        border-bottom: solid 2px white;
    }

    .navbar-nav {
        .nav-link {
            font-size: 1.1rem;
            padding: 0.2rem 2rem;
            color: white;
            text-transform: uppercase;
            font-weight: 400;
            //font-family: 'Bebas Neue', sans-serif;
        }
    }
}
.navbar-brand {
    margin: 0;

    img {
        max-width: 200px;
    }
}

// Hero Banners

.hero {
    height: 90vh;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.hero-banner {
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

.logos {
    .logo {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}