$theme-colors: (
    "primary": #610F22,
    "secondary": #E77212,
    "light": #EBE1CD,

);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);
$enable-negative-margins: true;

$border-radius: 2rem;

@import "node_modules/bootstrap/scss/bootstrap";



body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
}

.panel-title {
    background-image: url('/img/long_tape_sm.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    color: white;
    position: relative;
    z-index: 2;
}
.label {
    background-image: url('/img/short_tape_sm.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    position: relative;
    z-index: 2;
    display: inline;
    padding: 2rem;
    top: -2rem;
}
.quote {
    font-size: 10rem;
    height: 100px;
    color: #E77212;
    line-height: 1;
    position: absolute;

    &.start {
        left: -17%;
        top: -10%;
    }
    &.end {
        right: -17%;
        bottom: -10%;
    }
}
.footer {
    
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .container {
        border-bottom: solid 2px white;
    }

    .navbar-nav {
        .nav-link {
            font-size: 1.1rem;
            padding: 0.2rem 2rem;
            color: white;
            text-transform: uppercase;
            font-weight: 400;
            //font-family: 'Bebas Neue', sans-serif;
        }
    }
}
.navbar-brand {
    margin: 0 2rem;

    img {
        width: 150px;
    }
}

// Hero Banners

.hero {
    height: 90vh;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.hero-banner {
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

.logos {
    .logo {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}