<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="robots" content="index, follow ">
    <meta name="description" content="On the last Saturday of October every year we raise our glass to the unmistakable taste of Queensland and the incredible Queensland Rum producers using Queensland sugar cane to create liquid gold.">
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <title>Queensland Rum Day - 25th October 2025</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-parallax-js/5.6.2/simpleParallax.min.js" integrity="sha512-rLJmRoYJNB5AXXLAElKPeaSrcXDUTA41fiwTZ+S2JJXhMoWu4yQZvXlZZSIjRNVHYTkIYYw+r45wXCao49D5XA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N4WBC2VK');</script>
    <!-- End Google Tag Manager -->

  </head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4WBC2VK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar navbar-expand-md">

  <div class="container py-2">

    <a class="navbar-brand text-center w-100 d-md-none" href="#">
      <img src="/img/QLD-RUM-DAY-2023_text_light.svg" alt="Queensland Rum Day">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#whatisit">What is it?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#distilleries">Distilleries</a>
        </li>
        <a class="navbar-brand d-none d-md-block" href="#">
          <img src="/img/QLD-RUM-DAY-2023_text_light.svg" alt="Queensland Rum Day">
        </a>
         <li class="nav-item">
          <a class="nav-link" href="#history">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/qldrum" target="_blank">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/qldrum/" target="_blank">Follow Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

